body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
}

.sidebar {
  background-color: #FF7755;
}

.nav {
  background-color: #00DDFF;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
}


/*start*/
.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  gap: 15px;
}

.header, .footer{
  grid-column: span 2;
}

.sidebar{
  grid-column: 1/2;
  grid-row: 2/span 2;
}

.nav, .article{
  grid-column: 2/3;
}
/*

- The gap is 15px
- The grid has two columns
- The grid has four rows
- The second column is three times larger than the first
- The third row is five times larger than the others
- The header and footer elements span across both columns
- The sidebar element only spans across the first column
- The nav and article elements span across the second column
*/